# Python bytecode
__pycache__/
*.pyc

# Data files (Too large for GitHub)
raw_h5ads/
processed/
output_h5ads/
splits/*.h5ad

# Logs and temporary files
logs/
.ipynb_checkpoints/

# Environments
venv/
.env
